target

# Exclude RustRover and Mac-based meta files
.DS_Store
.idea


# Exclude reproducible build work
.repro-work
.pnpm-store

# Exclude all credential, video or state based data
user_credentials
user_credentials_qrcode.png
camera_secret
camera_secret_qrcode.png
pending_videos
state
cameras.yaml
credentials_full
*.sh

# Firebase Service Files
google-services.json
GoogleService-Info.plist
service_account_key.json

# Exclude GPG test-release credentials and related
.gnupg
*.zip
release_work
*.asc
secluso-v*